@import url('__content-title/comments__content-title.css');
@import url('__content-subtitle/comments__content-subtitle.css');
@import url('__container/comments__container.css');

.comments {
  font-family: 'Inter', Arial, sans-serif;
  padding: 2.25rem 1rem;
  box-sizing: border-box;
}

.comments :last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .comments {
    padding-top: 3.25rem;
  }
}

@media screen and (min-width: 900px) {
  .comments {
    padding-top: 3.85rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 900px) {
  .comments {
    padding-top: 3.45rem;

  }
}
