.container__title {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.0833;
  margin: 0 0 0.35rem 0;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .container__title {
    font-size: 2.25rem;
    line-height: 1.0833em;
    padding-right: 7%;
    margin: 12px 0 13px;
  }
}
