.intro__item {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.5833em;
}

@media screen and (min-width: 600px) {
  .intro__item {
    font-size: 0.8125rem;
    line-height: 1.5385em;
  }

}
