.header__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding-bottom: 0.4375rem;
  align-items: flex-end;
}

.header__manu :last-child {
  margin-right: 0;
}

@media screen and (min-width: 375px) {
  .header__menu {
    padding-bottom: 0.3125rem;
  }
}

@media screen and (min-width: 600px) {
  .header__menu {
    padding-bottom: 0.5rem;
  }
}
