@import url('__image/article__image.css');
@import url('__item/article__item.css');
@import url('__paragraph/article__paragraph.css');
@import url('__title/article__title.css');
@import url('__link/article__link.css');
@import url('__url-heading/article__url-heading.css');

.article {
  font-family: 'Inter', Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 508px));
  grid-row-gap: 1.76rem;
  grid-column-gap: 1.75rem;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .article {
    grid-template-columns: repeat(auto-fit, minmax(100px, 340px));
    grid-row-gap: 3rem;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 900px) {
  .article {
    grid-template-columns: repeat(2, minmax(100px, 440px));
    grid-column-gap: 2rem;
    grid-row-gap: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .article {
    grid-template-columns: 460px 484px;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.55rem;
  }
}
