.main__cover {
  margin: 2rem auto;
}

@media screen and (min-width: 375px) {
  .main__cover {
    margin-top: 1.1rem;
  }
}

@media screen and (min-width: 600px) {
  .main__cover {
    margin-top: 4.55rem;
    margin-bottom: 4.66rem;
  }
}

@media screen and (min-width: 900px) {
  .main__cover {
    margin-top: 1.7rem;
    margin-bottom: 8.1rem;
  }
}

@media screen and (min-width: 1200px) {
  .main__cover {
    margin-top: 1.1rem;

  }
}
