.comments__container {
  margin: 0 auto;
  grid-column-gap: 19px;
  grid-template-columns: repeat(1, minmax(100px, 460px));
  grid-row-gap: 0.5rem;
}

@media screen and (min-width: 600px) {
  .comments__container {
    grid-template-columns: repeat(1, minmax(100px, 382px));
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .comments__container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-column-gap: 1.125rem;
  }
}

/* @media screen and (min-width: 1px) {
  .comments__container {
    grid-template-columns: repeat(3, minmax(100px, ));
    grid-column-gap: 1.125rem;
  }
} */
