.cover__subtitle {
  /* max-width: 382px; */
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.2143;
  font-weight: normal;
  text-align: center;
  color: #fff;
  display: flex;
  justify-self: flex-end;
  box-sizing: border-box;
  padding: 0 7.5%;
  margin: 4px 0 0;
}

@media screen and (min-width: 375px) {
  .cover__subtitle {
    font-size: calc((100vw - 23.4375rem) / (48 - 23.4375) * (1.125 - 0.875) + 0.875rem);
    margin-top: 0.875rem;
    padding: 0 12%;
  }
}

@media screen and (min-width: 425px) {
  .cover__subtitle {
    padding: 0 16%;
    margin-top: 0.875rem;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 1.125rem;
    line-height: 1.4444em;
    margin-top: 3.2rem;
    padding: 0 26.5%;
  }
}

@media screen and (min-width: 900px) {
  .cover__subtitle {
    max-width: 382px;
    padding: 0;
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .cover__subtitle {
    margin-top: 7.8rem;
  }
}
