.blockquote__quote {
  width: 100%;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4375;
  margin: 1.35rem 0 0;
}

@media screen and (min-width: 375px) {
  .blockquote__quote {
    margin-top: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .blockquote__quote {
    font-size: 0.875rem;
    line-height: 1.7143;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}
