@import url('__text/intro__text.css');
@import url('__quote-text/intro__quote-text.css');
@import url('__title/intro__title.css');
@import url('__span-accent/intro__span-accent.css');
@import url('__item/intro__item.css');

.intro {
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
  padding: 1.75rem 1rem 2.1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .intro {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .intro {
    padding: 2rem 1.5rem 2.9rem;
  }
}

@media screen and (min-width: 900px) {
  .intro {
    padding: 2.1rem 0 3.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    max-width: 985px;

  }
}
