.lead__subtitle {
  margin: 0 auto 2rem;
  font-size: 1rem;
  line-height: 1.44em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  font-weight: normal;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-sizing: border-box;
}

@media screen and (min-width: 375px) {
  .lead__subtitle {
    font-size: calc((100vw - 23.4375rem) / (48 - 23.4375) * (1.875 - 1) + 1rem);
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 600px) {
  .lead__subtitle {
    font-size: 1.88rem;
    line-height: 1.2em;
    padding-top: 1.05rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2.95rem;
  }
}

@media screen and (min-width: 900px) {
  .lead__subtitle {
    padding-right: 5em;
    padding-left: 5em;
  }
}

@media screen and (min-width: 1200px) {
  .lead__subtitle {
    max-width: 583px;
    padding-left: 0;
    padding-right: 0;
  }
}
