@import url('__title/cover__title.css');
@import url('__subtitle/cover__subtitle.css');


.cover {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  /* min-height: 216px; */
  /* width: 1184px;
  height: 594px; */
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../images/cover.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  padding: 1.5rem 0;
  position: relative;
  box-sizing: border-box;
}

.cover:hover {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../images/cover.jpg);
}

@media screen and (min-width: 375px) {
  .cover {
    padding-bottom: 1.85rem;
    background-size: cover;
    min-height: 272px;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 500px;
    padding-bottom: 2.75rem;
  }
}

@media screen and (min-width: 900px) {
  .cover {
    width: 100vw;
    margin-left: -3rem;
    min-height: 562px;
    padding-bottom: 2.35rem;
 }
}

@media screen and (min-width: 1200px) {
  .cover {
    max-width: 100%;
    margin-left: 0;
    min-height: 594px;
  }
}
