@import url('_subject/container__item_subject_kamchatka.css');
@import url('_subject/container__item_subject_observatory.css');
@import url('_subject/container__item_subject_novorossiysk-bay.css');
@import url('_subject/container__item_subject_arakulsk-shihan.css');
@import url('_subject/container__item_subject_cherepovets.css');
@import url('_subject/container__item_subject_nikola-lenivets.css');

.container__item {
  padding-bottom: 30px;
  padding-top: 30px;
  box-sizing: border-box;
}
