.cover__title {
  width: 100%;
  /* max-width: 1095px; */
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.0937;
  margin: 0;
  color: #FFFDFD;
  text-align: center;
  box-sizing: border-box;
  /* padding: 0 2.5rem; */
  padding: 0 12%;
  margin-top: 43px;
}

@media screen and (min-width: 336px) {
  .cover__title {
    padding: 0 16%;
  }
}

@media screen and (min-width: 375px) {
  .cover__title {
    font-size: calc((100vw - 23.4375rem) / (37.5 - 23.4375) * (3.5 - 2) + 2rem);
    margin-top: 1.3437em;
  }
}

@media screen and (min-width: 425px) {
  .cover__title {
    margin-top: 2em;
  }
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .cover__title {
    padding: 0;
  }
}
