@import url('__item/container__item.css');
@import url('__icon/container__icon.css');
@import url('__info/container__info.css');
@import url('__duration/container__duration.css');
@import url('__title/container__title.css');
@import url('__subtitle/container__subtitle.css');
@import url('__post/container__post.css');
@import url('__blockquote/container__blockquote.css');
@import url('__image/container__image.css');

.container {
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
  display: grid;
  justify-content: center;
}
